@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f; /* Bright magenta */
  color: #0ff; /* Cyan */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
    box-sizing: border-box;
}

.container {
    position: relative; /* For absolutely positioned elements within */
    margin: 0 auto;
    padding: 0 20px;
    /* Removed max-width to allow for more fluid layout */
}
